@import 'tailwindcss';

@theme inline {
	--font-windows: var(--font-windows);
	--font-cmd: var(--font-cmd);
	--font-ibm: var(--font-ibm);
	--font-lucida: var(--font-lucida);
}

@theme inline {
	--color-wallpaper: #008282;
	--color-windows-lightgrey: #e6e6e6;
	--color-windows-grey: #c3c3c3;
	--color-windows-white: #ffffff;
	--color-windows-blue: #000082;
	--color-windows-darkgrey: #898989;
}
