.window {
  position: fixed;
  height: 95vh;
  max-height: 95%;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: var(--window_bg);
  border: 3px outset var(--window_border);
}

.window.active {
  display: flex;
}

.window.window_focus {
  z-index: 10;
}

.window.max {
  top: 0;
  left: 0;
  height: 95%;
  width: 100%;
}

.window_top {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  width: 100%;
  background-color: var(--window_top_bg_unfocused);
  margin-bottom: 5px;
  color: var(--window_top_fg);
  place-content: space-between;
  font-size: 1rem;
  font-family: "pixelated";
  padding: 3px;
}

.window.window_focus .window_top {
  background-color: var(--window_top_bg);
}

.window_title {
  align-self: center;
}

.window_buttons {
  display: flex;
  flex-direction: row;
  place-self: right;
  align-items: center;
  padding-right: 3px;
}

.topbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  background-color: var(--topbox_bg);
  border: 1px outset var(--topbox_border);
  cursor: pointer;
}

.topbox:hover {
  border: 1px inset #000000;
}

.topbox.close .line {
  margin-left: 4px;
  width: 70%;
  height: 2.5px;
  background-color: black;
}

.topbox.close .line:nth-child(1) {
  transform-origin: left;
  transform: rotate(45deg);
}

.topbox.close .line:nth-child(2) {
  transform-origin: left;
  transform: rotate(-45deg);
}

.topbox.max {
  display: none;
}

.topbox.max .line_box {
  margin: 7.5% 10% 0% 10%;
  border: 2.5px solid black;
  height: 80%;
}

.topbox.max .line {
  margin: 0% 10% 5% 10%;
  height: 4px;
  width: 80%;
  transform: translateY(-18px);
  background-color: black;
}

.topbox.min {
  display: none;
}

.topbox.min .line {
  width: 40%;
  height: 3px;
  background-color: black;
  margin-bottom: 10%;
}

.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.om_mig_content {
  background-color: var(--element_bg);
  border: 3px inset var(--window_border);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.om_mig_content img {
  border: 3px inset var(--window_border);
  width: 90%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.om_mig_content h1 {
  margin: 5% 0% 5% 0%;
}

.cv {
  background-color: var(--element_bg_alt);
  border: 3px inset var(--window_border);
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv h1 {
  margin-top: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
}

.cv h2 {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.cv ul {
  font-size: 1rem;
  width: 100%;
}

#velkommen_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1rem;
  line-height: 150%;
  overflow-x: hidden;
}

#velkommen_content img {
  width: 75%;
  height: auto;
  border: 3px inset var(--window_border);
}

.t2_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.t2_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.t2_text {
  background-color: var(--element_bg_alt);
  border: 3px inset var(--window_border);
  width: 100%;
  padding: 5vh 1vw;
}

.t2_text h1 {
  text-align: center;
  margin-bottom: 5vh;
}

.t2_content img {
  width: 100%;
  height: auto;
  border: 3px inset var(--window_border);
  object-fit: cover;
  align-self: stretch;
  margin-bottom: 15px;
}

.t3_content {
  display: flex;
  flex-direction: column;
  margin: 2vh 0 0 0;
}

.t3_content h1 {
  text-align: center;
}

.t3_content.first {
  display: flex;
  flex-direction: column-reverse;
}

.t3_content.second {
  display: flex;
  flex-direction: column-reverse;
}

.t3_content.third {
  display: flex;
  flex-direction: column;
}

.t3_content .t3_text {
  background-color: var(--element_bg_alt);
  border: 3px inset var(--window_border);
  margin-top: 1vh;
}

.t3_content .t3_text h2 {
  text-align: center;
  margin: 1vh 0 1vh 0;
}

.t3_content p {
  margin: 1vh 1vw 1vh 1vw;
}

.t3_content img {
  width: 100%;
  height: auto;
  border: 3px inset var(--window_border);
  object-fit: cover;
  align-self: stretch;
}

.t4_content {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.t4_content img {
  border: 3px inset var(--window_border);
  width: 100%;
  height: auto;
  object-fit: cover;
  align-self: stretch;
  margin-top: 1vh;
}

.t4_1 {
  background-color: var(--element_bg_cyan);
  color: var(--body_inverted);
  border: 3px inset var(--window_border);
  padding: 1vh 1vw;
}

.t4_1 h1 {
  text-align: center;
  margin: 1vh 0 1vh 0;
}

.t4_1 h2 {
  text-align: center;
  margin: 2vh 0 1vh 0;
}

.t4_1 p {
  margin: 1vh 0 1vh 0;
}

.t4_img {
  display: flex;
  flex-direction: column;
}

#t5_1_container {
  display: flex;
  flex-direction: column;
}

.t5_1_content {
  margin-right: 5px;
}

#t5_1_container h1 {
  text-align: center;
  margin-bottom: 1vh;
}

.t5_1_text {
  background-color: var(--element_bg_alt);
  border: 3px inset var(--window_border);
  padding: 3vh 1vw 2vh 1vw;
}

.t5_1_text h2 {
  margin-bottom: 1vh;
}

.t5_video {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.t5_webm {
  width: 100%;
  height: 50%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 3px inset var(--window_border);
  object-fit: cover;
  align-self: stretch;
}

.t5_video img {
  width: 100%;
  height: 50%;
  border: 3px inset var(--window_border);
  object-fit: cover;
  align-self: stretch;
}

.t5_2_content {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.t5_2_text {
  background-color: var(--element_bg_alt);
  border: 3px inset var(--window_border);
  padding: 3vh 1vw 2vh 1vw;
}

.t5_2_text h1 {
  text-align: center;
  margin-bottom: 1vh;
}

.t5_2_text h2 {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.t5_2_img {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

.t5_2_img img {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 3px inset var(--window_border);
}

.t6_content {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.t6_content h1 {
  text-align: center;
}

.t6_content img {
  border: 3px inset var(--window_border);
}

.t6_container {
  display: flex;
  flex-direction: column-reverse;
  margin: 2vh 0 2vh 0;
}

.t6_text {
  background-color: var(--element_bg_alt);
  border: 3px inset var(--window_border);
  margin-top: 1vh;
  padding: 3vh 1vw 2vh 1vw;
}

.t6_text h2 {
  margin-bottom: 1vh;
}

.t6_text ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-right: 5vw;
}

/* Desktop */
@media screen and (min-width: 800px) {
  .window {
    height: 60%;
    width: 30%;
  }

  /* .topbox.max { */
  /*   display: unset; */
  /*   justify-content: start; */
  /* } */
  /**/
  .topbox.min {
    display: flex;
    justify-content: end;
    z-index: 15;
  }

  .window.velkommen {
    top: 10%;
    right: 5%;
    height: auto;
    width: 30%;
  }

  .window.velkommen.max {
    height: 95%;
    width: 100%;
  }

  .window.om_mig {
    top: 25%;
    left: 3%;
    width: 60%;
  }

  .om_mig_content {
    overflow-y: scroll;
  }

  .window.t2 {
    top: 15%;
    left: 10%;
    width: 70%;
    height: 60%;
  }

  .t2_content {
    flex-direction: row-reverse;
    align-items: start;
    margin-right: 5px;
  }

  .t2_img {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .t2_content img:last-child {
    margin-bottom: 0;
  }

  .t2_text {
    overflow-y: auto;
    margin-left: 10px;
    height: 100%;
  }

  .window.t3 {
    top: 12%;
    left: 8%;
    width: 80%;
    height: 75%;
  }

  .t3_content {
    margin-right: 5px;
  }

  .t3_content.first {
    display: flex;
    flex-direction: row-reverse;
  }

  .t3_content.first img {
    width: 70%;
    height: auto;
  }

  .t3_content.second {
    display: flex;
    flex-direction: row;
  }

  .t3_content.second img {
    width: 60%;
    height: auto;
  }

  .t3_content.third {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .t3_img {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .t3_content.third .t3_text {
    width: 50%;
  }

  .t3_content.third img {
    width: 100%;
    height: 50%;
  }

  .t3_content.fourth {
    flex-direction: row;
  }

  .t3_content.fourth img {
    width: 60%;
    height: auto;
  }

  .t3_content.fifth {
    flex-direction: row-reverse;
  }

  .t3_content.fifth .t3_text {
    width: 70%;
  }

  .t3_content .t3_text {
    margin-top: 0;
    width: 50%;
  }

  #om_mig_container {
    flex-direction: row-reverse;
    overflow-y: hidden;
    justify-content: space-around;
  }

  .om_mig_content {
    width: 60%;
  }

  .cv {
    width: 35%;
    height: 100%;
    margin-top: 0;
    overflow-y: auto;
  }

  #velkommen_content img {
    margin: 15px 0px 15px 0px;
  }

  .window.t4 {
    top: 15%;
    left: 10%;
    width: 60%;
    height: 70%;
  }

  .t4_content {
    flex-direction: row;
    overflow-y: hidden;
  }

  .t4_1 {
    overflow-y: auto;
  }

  .t4_img {
    width: 55%;
    height: 100%;
  }

  .t4_img img {
    margin-top: 0;
    object-fit: cover;
    align-self: stretch;
  }

  .t4_img img:first-child {
    height: 40%;
    width: 100%;
    margin-top: 0;
  }

  .t4_img img:last-child {
    height: 60%;
    width: auto;
  }

  .window.t5_1 {
    top: 5%;
    left: 5%;
    width: 70%;
    height: 70%;
  }

  #t5_1_container {
    height: 100%;
  }

  .t5_1_content {
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;
    height: 100%;
  }

  .t5_1_text {
    width: 50%;
    height: auto;
    overflow-y: auto;
  }

  .t5_video {
    width: 50%;
    height: 100%;
  }

  .t5_webm {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .window.t5_2 {
    top: 20%;
    left: 10%;
    width: 70%;
    height: 60%;
  }

  .t5_2_content {
    flex-direction: row-reverse;
    overflow-y: hidden;
  }

  .t5_2_text {
    overflow-y: auto;
    width: 50%;
  }

  .t5_2_img {
    width: 50%;
    margin: 0;
  }

  .t5_2_img img {
    margin: 0;
    height: 50%;
    object-fit: cover;
    align-self: stretch;
  }

  .window.t6 {
    top: 7%;
    left: 5%;
    width: 85%;
    height: 80%;
  }

  .t6_text {
    margin-top: 0;
    overflow-y: auto;
    width: 50%;
  }

  .t6_container {
    flex-direction: row-reverse;
    margin: 1vh 0 1vh 0;
  }

  .t6_1 img {
    width: 50%;
    height: 100%;
  }

  .t6_container.t6_2 {
    flex-direction: row;
    height: 400px;
  }

  .t6_2 .t6_text {
    height: auto;
    width: auto;
  }

  .t6_2 img {
    aspect-ratio: auto;
    max-width: 50%;
    height: auto;
  }

  .t6_container.t6_3 {
    height: 400px;
  }

  .t6_3 img {
    width: 50%;
    object-fit: cover;
    object-position: 15% 50%;
  }

  .t6_4 {
    height: 800px;
  }

  .t6_4 .t6_text {
    width: 50%;
  }

  .t6_4 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    align-self: stretch;
    object-position: 0% 100%;
  }

  .t6_4_img {
    width: 50%;
  }

  .t6_5 {
    flex-direction: row;
  }

  .t6_5 img {
    width: 50%;
    object-fit: cover;
    object-position: 35% 50%;
  }

  .t6_6 {
    height: 400px;
  }

  .t6_6 .t6_text {
    height: auto;
    width: auto;
  }

  .t6_6 img {
    aspect-ratio: auto;
    max-width: 50%;
    height: auto;
  }
}
