---
import '../styles/global.css';
import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Mikkel Jørgensen</title>
    <Font cssVariable='--font-windows' preload />
    <Font cssVariable='--font-cmd' preload/>
    <Font cssVariable='--font-ibm' preload />
    <Font cssVariable='--font-lucida' preload />
	</head>
	<body>
		<div class="crt_filter"></div>
			<slot />
		
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		cursor: url("/cursor/cursor.png"), auto;
		user-select: none;
  		-webkit-user-select: none;
	}

	.crt_filter {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 5px;
  opacity: 0.05;
  pointer-events: none;
}

.crt_filter.off {
  display: none;
}

@media screen {
  .crt_filter {
    animation: scanlines infinite 50s linear;
  }
}
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

.crt_filter.off {
  display: none;
}
</style>
